@import "base";

.btns {
  padding-top: 10px;
  display: flex;
  & > * {
    margin-left: 10px;
    &:last-child {
      margin-left: auto;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.btn {
  padding: 13px 10px;
  display: flex;
  align-items: center;
  color: getColor(font);
  // font-weight: bold;
  // border-radius: getRadius(main);
  transition: getTransition(main);
  &:active {
    box-shadow: none;
    transform: scale(0.95);
    opacity: 0.5;
  }
  &:hover {
    border-color: getColor(accent);
  }
  &__icon {
    margin: 0px 4px;
    font-size: 25px;
    // color: getColor(accent);
  }
  &__title {
    margin: 0px 4px;
  }
}

.btn_primary {
  background-image: getGradient(main);
  // background-color: getColor(accent);
  box-shadow: getShadow(main);
  // border: 1px solid getColor(title-simple);
}
.btn_simple {
  background-color: transparent;
  border: 1px solid getColor(second-light);
}
.btn_activated {
  background-color: getColor(secondary);
  border: 1px solid transparent;
}
